<div class="container">
  <div class="video-container">
    <video
      controls
      class="video"
      id="video"
      preload="metadata"
      poster="../../assets/di.jpg"
      #video
    >
      <source src="../../assets/video.mp4" type="video/mp4" />
    </video>

    <div class="video-controls hidden" id="video-controls" #videoControls>
      <!-- Custom controls -->

      <div class="bottom-controls">
        <div class="left-controls">
          <button data-title="Play (k)" id="play" (click)="togglePlay()" #play>
            <div *ngIf="hide; then playIcon; else pauseIcon"></div>
            <ng-template #playIcon> <i class="fi-play-video"></i></ng-template>
            <ng-template #pauseIcon> <i class="fi-pause"></i></ng-template>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
